<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <h2>Signup</h2>
        <form action="/voter/apply-for-candidate" method="post">
            <input type="text" name="partyName" placeholder="Enter party name" required />
            <button type="submit">submit</button>
        </form>
    
        <!-- Navigation Buttons -->
        <!-- <div class="button-group">
            <button class="btn btn-secondary" onclick="window.location.href='/voter/apply-for-candidate'">submit</button>
        </div> -->
    </div>
</body>
</html>